<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>lo-rez Editor</title>

        <link rel="stylesheet" href="../static/index.css">

        <script src="../node_modules/ace-builds/src-noconflict/ace.js"></script>
    </head>

    <body>
        <aside>
            <div class="panel">
                <p class="panel-heading">
                    Resource files

                    <button id="export" class="is-pulled-right button is-small is-info is-outlined">Export</button>
                </p>

                <div class="panel-block">
                    <form>
                        <div class="field is-horizontal">
                            <div class="field-label is-small">
                                <label class="label">Version</label>
                            </div>

                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-small">
                                            <select id="versions">
                                                <option disabled selected>Select version</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input is-small" type="text" placeholder="Filter file names" id="filter">

                        <span class="icon is-small is-left">
                            <i class="fa fa-filter"></i>
                        </span>
                    </p>
                </div>

                <div class="panel-block">
                    <div class="field is-horizontal" style="width: 100%;">
                        <span class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="filter-ignored" checked>
                                <span>ignored</span>
                            </label>
                        </span>

                        <span class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="filter-finished" checked>
                                <span>finished</span>
                            </label>
                        </span>

                        <span class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="filter-invalid" checked>
                                <span>invalid</span>
                            </label>
                        </span>
                    </div>
                </div>

                <div class="panel-block rest">
                    <ul id="files"></ul>
                </div>

                <div class="panel-block" id="replacement-progress">
                    <div class="bars">
                        <div class="bar ignored" style="width: 0%;"></div>
                        <div class="bar finished" style="width: 0%;"></div>
                        <div class="bar invalid" style="width: 0%;"></div>
                    </div>

                    <p class="content is-small">
                        <strong>0%</strong>
                        finished
                    </p>
                </div>
            </div>
        </aside>

        <main>
            <div class="tabs is-boxed is-small">
                <ul></ul>
            </div>

            <section class="rest"></section>
        </main>

        <script src="../static/init.js"></script>
        <script async defer src="../static/index.js"></script>
    </body>
</html>
