<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>lo-rez Editor</title>

        <link rel="stylesheet" href="../static/semantic/semantic.css">
        <link rel="stylesheet" href="../static/index.css">
    </head>

    <body>
        <aside>
            <form>
                <select class="ui dropdown" id="versions">
                    <option value="" selected disabled>Select version</option>
                </select>

                <button class="right floated ui button" id="export">Export</button>

                <div class="ui clearing divider"></div>

                <div class="ui fluid icon input" id="filter">
                    <input type="text" placeholder="Filter">
                    <i class="filter icon"></i>
                </div>
            </form>

            <div class="ui list" id="files"></div>
        </aside>

        <main>
            <nav></nav>
        </main>

        <script src="../static/init.js"></script>

        <script src="../static/semantic/semantic.js"></script>
        <script src="../static/index.js"></script>
    </body>
</html>
