@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../node_modules/bulma/css/bulma.css);

@palette-color-size: 20px;

@gray:      hsl(0,     0%, 50%);
@orange:    hsl(14,  100%, 53%);
@yellow:    hsl(48,  100%, 67%);
@green:     hsl(141,  71%, 48%);
@turquoise: hsl(171, 100%, 41%);
@cyan:      hsl(204,  86%, 53%);
@blue:      hsl(217,  71%, 53%);
@purple:    hsl(271, 100%, 71%);
@red:       hsl(348, 100%, 61%);


.transparency,
.transparency-a {
    background-image: url(is-transparent.png);
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

.transparency-b {
    background-image: url(is-space.png);
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
}

.transparency-c {
    background-image: none;
    background-color: #ff00ff;
}

.transparencies() {
    [data-transparency="a"] & {
        .transparency-a();
    }

    [data-transparency="b"] & {
        .transparency-b();
    }

    [data-transparency="c"] & {
        .transparency-c();
    }
}

.bordered {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

html, body {
    position: relative;
    height: 100%;

    // This is not a website
    overflow: hidden;
}

body {
    padding: 8px;

    display: flex;
}

img {
    display: block;
    image-rendering: pixelated;
}

.source-view,
.editor-view {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);

    .transparency();
    .transparencies();
}

aside {
    flex: 0 0 260px;
    max-width: 260px;

    margin-right: 8px;

    .panel {
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    .panel-block {
        flex-shrink: 0;
    }

    .rest {
        display: block;

        flex-grow: 1;
        flex-shrink: 1;

        overflow-x: hidden;
        overflow-y: scroll;
    }
}

#replacement-progress {
    position: relative;

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
        background-color: fadeout(@gray, 80%);
    }

    .content {
        z-index: 1;
    }
}

.segments {
    display: flex;
    justify-content: space-around;

    padding: 8px;

    .bordered;

    &.horizontal {
        flex-direction: row;
    }

    &.vertical {
        flex-direction: column;
    }

    > * {
        flex: 0 0 auto;
    }
}

.ui-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 -5px;

    > * {
        flex: 0 0 auto;
        margin: 0 5px;
    }

    .buttons,
    .buttons .button {
        margin-bottom: 0;
    }
}

.ui-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: -5px 0;

    > * {
        flex: 0 0 auto;
        margin: 5px 0;
    }
}

.button[data-transparency] {
    width: 3 * 0.75em;

    &[data-transparency="a"] {
        .transparency-a();
    }

    &[data-transparency="b"] {
        .transparency-b();
    }

    &[data-transparency="c"] {
        .transparency-c();
    }
}


main {
    flex: 1 1 auto;
    min-width: 1px;

    display: flex;
    flex-direction: column;

    > .tabs {
        margin-bottom: 0 !important;
        flex-shrink: 0;

        ul {
            flex: 1 0 auto;
            max-width: 100%;
        }

        li {
            flex: 0 1 auto;
            min-width: 1px;
        }

        span {
            flex: 1 0 1%;
            min-width: 1px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .delete {
            margin-left: 0.25rem;
        }
    }

    > section {
        .bordered;

        border-top-width: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .rest {
        display: flex;

        flex-grow: 1;
        flex-shrink: 1;
    }

    .pane {
        display: flex;
        flex-direction: column;

        flex: 1 1 auto;
        max-width: 100%;

        padding: 8px;

        > * {
            + * {
                margin-top: 8px;
            }
        }

        &:not(.open) {
            display: none;
        }
    }
}

form {
    display: block;
    width: 100%;

    .select, select {
        width: 100%;
    }
}

#files {
    li {
        font-size: 0.75rem;
        margin-bottom: 0.15rem;

        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &.hidden {
            display: none;
        }

        &.is-open {
            // Show open resources even if filtered
            display: block;

            padding-left: 3px;
            border-left: 3px solid @blue;
        }

        &.is-ignored {
            color: @gray;
            opacity: 0.5;
        }

        &.is-defined {
            color: @green;
        }

        &.has-null {
            color: @orange;
        }
    }
}

.palette {
    display: flex;
    flex-wrap: wrap;

    padding: 8px 0 0 8px;

    .bordered;

    li {
        flex: 0 0 @palette-color-size;

        width: @palette-color-size;
        height: @palette-color-size;

        margin-right: 8px;
        margin-bottom: 8px;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

        .transparency();
        .transparencies();

        b {
            display: block;
            width: 100%;
            height: 100%;

            border: 2px solid #fff;
        }

        &.picked {
            box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.35);

            b {
                // border-color: #eee;
            }
        }

        &.selected {
            b {
                border-color: #29e;
            }
        }
    }
}

.previews {
    padding: 0;

    .transparency();
    .transparencies();

    overflow: hidden;

    flex-grow: 1;
    flex-shrink: 1;
}

.preview {
    flex-grow: 1;

    background-position: center center;
}

.model-viewer {
    background-image: url(is-space.png);
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;

    canvas {
        display: block;

        margin: 0 auto;
    }
}

.model-editors {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

.model-editor {
    margin-bottom: 12px;

    .header {
        display: flex;

        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;

        background: #e8e8e8;
        color: #aaaaaa;

        padding: 5px 0;

        font-size: 12px;
        font-weight: bold;
        line-height: 1em;

        align-items: center;
        justify-content: space-between;

        > * {
            flex: 0 0 auto;
            margin: 0 5px;

            &:first-child {
                flex: 1 1 1px;
                min-width: 1px;

                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.changed {
        .header {
            color: @orange;
        }
    }

    &.error {
        .header {
            color: @red;
        }
    }

    &.is-ignored {
        .js-editor {
            display: none;
        }
    }

    &.is-saved {
        .js-editor {
            display: block;
        }

        .js-ignore {
            opacity: 0.1;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.editor-view {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;

        flex: 1 0 1%;

        .cell {
            flex: 1 0 1%;

            &:not([data-color]) {
                background-image: url(is-null.png);
                background-repeat: repeat;
                background-position: top left;
                background-attachment: fixed;
            }

            &:hover {
                box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.spacer {
    flex-grow: 1 !important;
}
